<div class="app-container">
  <div class="weather-container">
    <div class="weather-app-nav-bar">
      <div class="nav-bar-location-info">
        <div class="location-icon"><fa-icon class="fa-sm" [icon]="faLocationDot" [style]="{color: '#EDEBF6'}"></fa-icon></div>
        <h3>Bengaluru, Karnataka, India</h3>
      </div>
      <div class="search-bar">
        <div class="search-icon"><fa-icon class="fa-sm" [icon]="faMagnifyingGlass" [style]="{color: '#A2A2AB'}"></fa-icon></div>
        <div class="search-input"><input type="text" placeholder="Search City"></div>
      </div>
    </div>
    <div class="weather-app-main-content">
      <div class="current-date-weather-container">
        <app-current-date-weather-card/>
      </div>
      <div class="weekly-weather-forecast-container">
        <ng-container *ngFor="let i of [1,1,1]">
          <app-weekly-data-card/>
        </ng-container>
      </div>
    </div>
  </div>
</div>
