.hourly-data-card {
    display: flex;
    flex-direction: column;
    background-color: #17115F;
    padding: 5px;
    color: #F5F5F8;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hourly-data-card img {
    height: 60px;
    width: 60px;
}

.hourly-data-card p {
    margin: 0;
    font-size: 13px;
}