<div class="current-date-weather-card">
    <div class="current-date-weather-info">
        <div class="weather-value-and-text">
            <h2>{{getWeekDay(weatherService.currentWeather?.timeStamp)}}</h2>
            <p>{{weatherService.currentWeather?.timeStamp}}</p>
        </div>
        <div class="weather-value-and-text">
            <h2>{{weatherService.currentWeather?.temperature}}°C</h2>
            <p>Temperature</p>
        </div>
        <div class="weather-value-and-text">
            <h2>{{weatherService.currentWeather?.humidity}}%</h2>
            <p>Humidity</p>
        </div>
        <div class="weather-value-and-text">
            <h2>{{weatherService.currentWeather?.windSpeed}} km/hr</h2>
            <p>Wind Speed</p>
        </div>
        <div class="weather-img-and-text">
            <img src="{{getIcon()}}" alt="weather image">
            <p>Cloudy {{weatherService.currentWeather?.tempMin}} - {{weatherService.currentWeather?.tempMax}}°C</p>
        </div>
    </div>

    <div class="current-date-hourly-info-container">
        <ng-container *ngFor="let current of weatherService.timeWiseWeatherList">
            <div (click)="weatherService.reInitializeCurrentWeather(current.id)">
                <app-hourly-data-card [currentWeather]="current.currentWeather" />
            </div>
        </ng-container>
    </div>
    <div class="weather-tip-text">
        <p><img src="assets/lightbulb.png" alt="Message"> {{formatDescription()}} -
            {{weatherService.currentWeather?.message}}</p>
    </div>
</div>